html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.section-wrapper {
  background-color: #f4f6fa;
  height: 760px;
}

/* TITLES */
.main-title {
  color: #403f3f;
  display: block;
}

.secondary-title {
  color: #403f3f;
  display: block;
}

/* HEADER */

#header {
  background-color: transparent;
  position: fixed;
  width: 101%;
  z-index: 10;
}

#header.color-change {
  background-color: #acafbe;
  transition: background-color 200ms linear;
  width: 101%;
}

/* TEXTS */

.primary-title {
  color:#005881;
}

/* LINKS */

.my-nav-link {
  color: #3C4463;
  position: relative;
  text-decoration: none;
}

.my-nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #005881;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.my-nav-link:hover {
  color: #005881;
}

.my-nav-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.home-nav-link {
  color: #ffffff;
  position: relative;
  text-decoration: none;
}

.home-nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e1e4ee;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.home-nav-link:hover {
  color: #e1e4ee;
}

.home-nav-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* HOME PAGE */
#landing-page {
  background-image: url('https://res.cloudinary.com/hellodewa/image/upload/v1619879139/expeditemovers/images/sys/landing-page-background_qul3zi.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#main-landing-page-text {
  color: #ffffff;
}

.landing-page-text {
   color: #d7dcef;
}


/* CONTACT PAGE*/
#contact-layout{
  background-color: #ffffff;
}

#contact-form {
  margin: auto;
  padding: 5%;
  text-align: center;
  width: 70%;
}

/* LOCATIONS PAGE */
#location-header {
  background-image: url("https://res.cloudinary.com/hellodewa/image/upload/v1620723007/expeditemovers/images/sys/locations-title-background_larger_epajc4.jpg");
  background-color: #0d86be;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 370px;
  opacity: 95%;
}

.location-card {
  min-width: 70%;
  max-width: 71%;
  min-height: 60%;
}

/* FOOTER */
#footer {
  background: #4f4e4e;
  color: #ffffff;
  width: 101%;
}

.footer-title {
  color: #A9A9A9;
}

.footer-text {
  color: #d7dcef;
}

#footer-bottom {
  background: #403f3f;
  color: #A9A9A9;
}

/* FOOTER LINKS */

.footer-link {
  color: #d7dcef;
  text-decoration: none;
}

.footer-link:hover {
  color: #ffffff;
  text-decoration: none;
}

.site-map-icon {
  color: #A9A9A9;
  text-decoration: none;
}

.contact-icon {
  color: #A9A9A9;
  text-decoration: none;
}

#facebook-icon {
  color: #A9A9A9;
}

#twitter-icon {
  color: #A9A9A9;
}

#instagram-icon {
  color: #A9A9A9;
}

#linkdin-icon {
  color: #A9A9A9;
}

.footer-link:hover > .site-map-icon {
  color: #09caff
}

.footer-link:hover > .contact-icon {
  color: #30d388;
  text-decoration: none;
}

.footer-link:hover > #facebook-icon {
    color: #3b5998;
    text-decoration: none;
}

.footer-link:hover > #twitter-icon {
  color: #00acee;
}

.footer-link:hover > #instagram-icon {
  color: #fccc63;
}

.footer-link:hover > #linkdin-icon {
  color: #0072b1;
}