html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

div.row {
  margin-left: 0;
  margin-right: 0;
}

div.col {
  padding-left: 0;
  padding-right: 0;
}

.section-wrapper {
  min-height: 720px;
}

.image-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LINES */

.colored-line {
    margin: auto;
    background: #005881;
    display: block;
    height: 4px;
    width: 90px;
}

.line-width {
  background: #afb4c4;
  max-width: 95%;
}

/* TITLES */

.main-title {
  color: #023349;
  display: block;
}

.primary-title {
  color:#0b47a0;
  font-size: xx-large;
}

.secondary-title {
  color: #0b47a0;
  display: block;
}

.primary-title-dark {
  color:#77a7ee;
  font-size: xx-large;
}

.secondary-title-dark {
  color: #77a7ee;
  display: block;
}


/* HEADER */

#header {
  background-color: transparent;
  position: fixed;
  width: 101%;
  z-index: 20;
}

#header.color-change {
  background-color: #3a3737;
  transition: background-color 250ms linear;
  width: 100%;
}

#home-logo {
  padding-left: 2em;
}

.navbar-nav {
  padding-right: 15%;
}


/* LINKS */

.body-link {
  color: #afb4c4;
  text-decoration: none;
}

.body-link:hover {
  color: #eaebf0;
  text-decoration: none;
}

.my-nav-link {
  color: #428af7;
  position: relative;
  text-decoration: none;
}

.my-nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #90bafa;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.my-nav-link:hover {
  color: #90bafa;
}

.my-nav-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.home-nav-link {
  color: #428af7;
  position: relative;
  text-decoration: none;
}

.home-nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #90bafa;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.home-nav-link:hover {
  color: #90bafa;
}

.home-nav-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* BUTTONS */

.button-layout {
  margin: 4em;
}

/* CARDS */

.card-title {
  color: #77a7ee;
  font-weight: bold;
  font-size: 1.7em;
  padding-bottom: 0.1em;
}


/* CLIENT SECTION */

#client-section {
  background-color:#2e2c2c;
  min-height: 330px;
}

#home-client-section {
  background-color:#403f3f;
  min-height: 330px;
}

.client-logo {
  height: 90%;
  width: 350px;
}


/* HOME PAGE */

#landing-page {
  background-color: #00000;
  background-image: url('https://res.cloudinary.com/hellodewa/image/upload/v1621808915/expeditemovers/images/sys/home-pg-background_jpqpmu.jpg');
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 820px;
}

#main-landing-page-text {
  color: #3b3b3b;
  margin-left: 3em;
}

.landing-page-text {
   color: #1a1a1b;
   margin-left: 4em;
}

.our-services {
  background-color: #272626;
  color: #ffffffff;
  padding-top: 40px;
  padding-bottom: 100px;
}


/* SERVICES */

.info-container{
  margin-bottom: 20%;
  padding: 10%;
  width: 90%;
}

#services-header {
  background-attachment: fixed;
  background-color: #0d86be;
  background-image: url("https://res.cloudinary.com/hellodewa/image/upload/v1621646636/expeditemovers/images/sys/services-title-background_zh6ckz.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 370px;
  opacity: 95%;
}

.services-title {
  color:#023349
}

.service-title-left {
  border-left: 5px solid #005881;
  padding-left: 3%;
}

.service-title-right {
  border-left: 5px solid #005881;
  padding-left: 3%;
}

.title-adjust-1 {
  position: relative;
  display: inline-block;
  right: 4%;
}

.title-adjust-2 {
  position: relative;
  display: inline-block;
  left: 32%;
}

.service-img {
  border-radius: 0.2em;
  height: 70%;
  width: 87%;
}

.service-info-left {
  border-radius: 0.5em;
  background-color:#403f3f;
  font-size: xx-large;
  min-height: calc(35% + 90px);
  margin-top: 3%;
  padding: 5%;
  position: absolute;
  width: calc(100% + 200px);
  z-index: 10;
}

.service-info-right {
  align-self: left;
  border-radius: 0.5em;
  background-color:#403f3f;
  display: block;
  font-size: xx-large;
  min-height: calc(35% + 90px);
  margin-top: 3%;
  margin-right: 30%;
  padding: 5%;
  position: absolute;
  right: 0.5%;
  width: calc(100% + 200px);
  z-index: 10;
}

.freight-section {
  background-attachment: fixed;
  background-image: url("https://res.cloudinary.com/hellodewa/image/upload/v1620740617/expeditemovers/images/sys/freight-background-img_zebis1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.black-bg-layout {
  background-color: #272626;
  color: #ffffff;
}

.white-bg-layout {
  background-color: #e1e4ee;
  color: #005881;
}

.blue-bg-layout {
  background-color: #005881;
  color: #e1e4ee;
}

.freight-text {
  color: #ffffff;
}

/* LOCATIONS PAGE */

#location-header {
  background-image: url("https://res.cloudinary.com/hellodewa/image/upload/v1620723007/expeditemovers/images/sys/locations-title-background_larger_epajc4.jpg");
  background-color: #0d86be;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 370px;
  opacity: 95%;
}

div.location-card {
  background-color: #363535 !important;
  min-width: 80%;
  max-width: 81%;
  min-height: 65%;
  margin-bottom: 50px;
}

.location-map {
  border: 0;
}

.location-card-text-layout {
  min-width: 90%;
}

.location-section {
  background-color: #272626;
  min-height: 920px;
}

/* ABOUT US PAGE */

#about-us-header {
  background-image: url("https://res.cloudinary.com/hellodewa/image/upload/v1621646264/expeditemovers/images/sys/about-us_background_odjflx.jpg");
  background-color: #0d86be;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 370px;
  opacity: 95%;
}


/* CONTACT PAGE*/

#contacts-layout{
  background-color: #403f3f;
  margin-left: 0em;
  margin-right: 0em;
  width:100%
}

#contact-form {
  margin: auto;
  padding: 5%;
  text-align: center;
  width: 70%;
}

#contact-form-container {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 5em 0 2em 0;
}

#contact-image {
  padding-left: 0;
  padding-right: 0;
}

.contact-textfield {
  margin-bottom: 2em;
}

#contact-title-dark {
  color: #e3f2fd;
}

#contact-subtitle-dark {
  color: #e3f2fd;
  padding-bottom: 2em;
}

/* ADMIN PAGE */

div.admin-card {
  background-color: #363535;
  color: #afb4c4;
  font-size: x-large;
  margin: 60px 0;
  min-height: 65%;
  margin-bottom: 50px;
  text-align: center;
  width: 60%;
}

.admin-card-text {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
}

.admin-col-layout {
  display: flex;
  justify-content: center;
  align-items: center;
}

#admin-header-overlay {
  align-items: center;
  background-color: #f1f1f1;
  display: flex;
  height: 550px;
  justify-content: center;
  opacity: 65%;
  width: 100%;
}

#admin-header {
  align-items: center;
  background-image: url('https://res.cloudinary.com/hellodewa/image/upload/v1621804935/expeditemovers/images/sys/admin-header-background_kz7cz1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  height: 550px;
  justify-content: center;
  text-align: center;
}

#admin-header-title {
  color: #000000;
  font-size: 6em;
  opacity: 100%;
  width: 50%;
}

/* FOOTER */

#footer {
  background: #0d54be;
  color: #ffffff;
  min-height: 470px;
  width: 100%;
}

#footer-bottom {
  background: #0b47a0;
  color: #77a7ee;
  justify-content: center;
  padding: 2.5em 0;
}

.footer-col-left {
  justify-content: center;
  padding-left: 8em;
}

.footer-col {
  padding: 0.1% 1% 1% 2.5%;
}

#footer-img {
  width: 200px; 
  height: 58px;
}

#footer-logo {
  margin-top: 0.1em;
}

#footer-social-media {
  margin-right: 3%;
}

#footer-top {
  padding: 6% 0;
}

.footer-title {
  color: #77a7ee;
  padding-left: 2em;
  padding-top: 3%;
}

#footer-contact-us-title {
  padding-left: 0;
}

.footer-text {
  color: #c8d0ee;
  padding-top: 1.8em;
}

#lg-device-socials{
  display: none;
}



/* FOOTER LINKS */

.footer-link {
  color: #c8d0ee;
  text-decoration: none;
}

.footer-link:hover {
  color: #ffffff;
  text-decoration: none;
}

.site-map-icon {
  color: #0d54be;
  text-decoration: none;
}

.contact-icon {
  color: #0d54be;
  text-decoration: none;
}

#facebook-icon {
  color: #0d54be;
}

#twitter-icon {
  color: #0d54be;
}

#instagram-icon {
  color: #0d54be;
}

#linkdin-icon {
  color: #0d54be;
}

.footer-link:hover > .site-map-icon {
  color: #47cbf0;
  text-decoration: none;
}

.footer-link:hover > .contact-icon {
  color: #36f19a;
  text-decoration: none;
}

.footer-link:hover > #facebook-icon {
    color: #98b6f5;
    text-decoration: none;
}

.footer-link:hover > #twitter-icon {
  color: #98b6f5;
  text-decoration: none;
}

.footer-link:hover > #instagram-icon {
  color: #98b6f5;
  text-decoration: none;
}

.footer-link:hover > #linkdin-icon {
  color: #98b6f5;
  text-decoration: none;
}

/* LARGE DEVICES ( less than 1300px) */

@media (max-width: 1299.98px) { 
  /* LARGE DEVICE ADMIN*/

  div.admin-card {
    background-color: #363535;
    color: #afb4c4;
    font-size: x-large;
    margin: 60px 0;
    min-height: 65%;
    margin-bottom: 50px;
    text-align: center;
    width: 80%;
}

  img.MuiCardMedia-img {
    height: 180px;
  }

  .admin-card-text {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
  }

  /* LARGE DEVICES FOOTER*/

  .footer-col-left {
    padding-left: 8%;
  }

  .footer-col {
    padding: 5.6% 0 0 0;
  }

  #footer-logo {
    padding-bottom: 1em;
    padding-left: 0.5em;
  }

  #footer-social-media {
    display: none;
    text-align: center;
  }

  .footer-text {
    padding-left: 0.5em;
    padding-top: 1em;
  }

  .lg-device-socials-icon {
    color: #77a7ee;
    padding: 0.3% 3% 0.3% 0;
  }

  .lg-device-socials-icon:hover {
    color: #c8d0ee;
  }

  #lg-device-socials{
    display: flex;
    justify-content: start;
    align-items: center;
  }

}

/* MEDIUM DEVICES (landscape phones, less than 992px) */

@media (max-width: 991.98px) { 

  /* MEDIUM DEVICE ADMIN*/

  img.MuiCardMedia-img {
    height: 270px;
  }

  #admin-header-title {
    text-align: center;
    width: 75%;
  }

  div.admin-card {
    width: 75%;
  }

  .admin-card-text {
    width: 60%;
  }

  .admin-col-layout {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* MEDIUM DEVICE FOOTER */

  li.list-unstyled {
    padding-right: 9%;
  }

  .footer-bottom-divider {
    display: none;
  }

  .footer-bottom-info {
    display: block;
    font-size: 1.8em;
    margin-left: 5%;
    padding: 1.8%;
    text-align: center;
    width: 90%;
  }

  .footer-bottom-info > .footer-link {
    font-size: calc(1.8em / 2);
  }

  .footer-col-left {
    padding: 1% 13%;
  }

  .footer-col {
    padding: 1% 1% 1% 0;
    text-align: center;
  }

  #footer-contact-us-title {
    padding-left: 3%;
    font-size: 1.5em;
  }

  #footer-img {
  width: 180px; 
  height: 90px;
}

  .footer-link {
    font-size: 1.5em;
  }

  #footer-logo {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    padding-bottom: 1em;
  }

  #footer-img {
    width: 60%;
  }

  .footer-text {
    font-size: 1.5em;
    padding-top: 0.8em;
    text-align: center;
  }
  
  .footer-title {
    padding-left: 1%;
    font-size: 1.8em;
  }

  .lg-device-socials-icon {
    color: #77a7ee;
    padding: 0.8% 3.5%;
  }

  .lg-device-socials-icon:hover {
    color: #c8d0ee;
  }

  #lg-device-socials{
    display: flex;
    justify-content: center;
    align-items: center;
  }

}


/* SMALL DEVICES (landscape phones, 576px and up) */

@media (max-width: 575px) { 

  .section-wrapper {
    min-height: 800px;
  }

  .image-col {
    display: block;
    margin-top: 100%;
  }

  /* SMALL DEVICE HEADER */

  #home-logo {
    padding-left: 0em;
  }


  /* SMALL DEVICE CLIENT SECTION */

  .client-logo {
    padding: 3%;
    width: 100%;
  }

  /* SMALL DEVICE CONTACT US PAGE */

  #contact-form {
    padding-top: 6em;
    padding-bottom: 20%;
    width: 92%;
  }

  #contact-form-container {
  padding: 1.5em 0;
}


  /* SMALL DEVICE ADMIN PAGE */

  img.MuiCardMedia-img {
    height: 210px;
  }

  #admin-header {
  background-image: url('https://res.cloudinary.com/hellodewa/image/upload/v1621804935/expeditemovers/images/sys/admin-header-background_kz7cz1.jpg');
  background-position: bottom;
  height: 450px;
}

  
  #admin-header-overlay {
  height: 450px;
}

  #admin-header-title {
    color: #000000;
    font-size: 3em;
    opacity: 100%;
    text-align: center;
    width: 80%;
  }

  div.admin-card {
    background-color: #363535;
    color: #afb4c4;
    font-size: x-large;
    margin: 30px 0 40px 0;
    min-height: 65%;
    width: 89%;
  }

  /* SMALL DEVICE FOOTER */

  li.list-unstyled {
    padding-right: 9%;
  }

  .footer-bottom-divider {
    display: none;
  }

  .footer-bottom-info {
    display: block;
    font-size: 1.3em;
    margin-left: 5%;
    padding: 1.8%;
    text-align: center;
    width: 90%;
  }

  .footer-col {
    padding: 1% 8% 1% 0;
    text-align: center;
  }

  #footer-contact-us-title {
    padding-left: 7%;
  }

  #footer-img {
    height: 4em;
  }

  .footer-link {
    font-size: 1.3em;
  }

  #footer-logo {
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }

  #footer-social-media {
    display: none;
    text-align: center;
  }

  .footer-text {
    padding-top: 1.2em;
    text-align: center;
  }

  .footer-title {
    padding-left: 5.5%;
  }
  
}

@media (max-width: 400px) {

  .card-title {
    padding-bottom: 0.01em;
    margin-bottom: 0;
  }

  /* EXTRA SMALL DEVICE ADMIN PAGE */

  img.MuiCardMedia-img {
    height: 170px;
  }

  /* EXTRA SMALL DEVICE FOOTER */

  img#footer-img {
    height: 5em;
    width: 15em;
  }

  li.list-unstyled {
    padding-right: 9%;
  }

  .footer-bottom-info {
    font-size: 1.3em;
  }

  #footer-contact-us-title {
    font-size: 1.4em;
  }

  .footer-link {
    font-size: 1.3em;
  }

  .footer-text {
    font-size: 1.3em;
  }

  .footer-title {
    font-size: 1.4em;
    padding-left: 2em;
    text-align: center;
  }
}

@media (max-width: 290px) {

  .card-title {
    padding-bottom: 0.01em;
    margin-bottom: 0;
  }

  /* FOLD DEVICE ADMIN PAGE */

  img.MuiCardMedia-img {
    height: 150px;
  }

  /* FOLD DEVICE FOOTER */

  .footer-link {
    font-size: 1em;
  }
}