html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.section-wrapper {
  background-color: #ffffff;
  height: 720px;
}

.line-width {
  max-width: 90%;
}

/* TITLES */

.main-title {
  color: #023349;
  display: block;
}

.secondary-title {
  color: #023349;
  display: block;
}


/* HEADER */

#header {
  background-color: transparent;
  position: fixed;
  width: 101%;
  z-index: 20;
}

#header.color-change {
  background-color: #e9ebf3;
  transition: background-color 200ms linear;
  width: 101%;
}


/* TEXTS */

.primary-title {
  color:#005881;
}


/* LINKS */

.body-link {
  color: #000000d3;
  text-decoration: none;
}

.body-link:hover {
  color: #000000;
  text-decoration: none;
}

.my-nav-link {
  color: #023349;
  position: relative;
  text-decoration: none;
}

.my-nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #02283a;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.my-nav-link:hover {
  color: #02283a;
}

.my-nav-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.home-nav-link {
  color: #1d1c1c;
  position: relative;
  text-decoration: none;
}

.home-nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #1d1c1c;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.home-nav-link:hover {
  color: #1d1c1c;
}

.home-nav-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* CLIENT SECTION */

#client-section {
  background-color:#272626;
  min-height: 330px;
}

.client-logo {
  height: 90%;
  width: 350px;
}


/* HOME PAGE */

#landing-page {
  background-color: #00000;
  background-image: url('https://res.cloudinary.com/hellodewa/image/upload/v1619879139/expeditemovers/images/sys/landing-page-background_qul3zi.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 820px;
}

#main-landing-page-text {
  color: #ffffff;
}

.landing-page-text {
   color: #d7dcef;
}

.our-services {
  background-color: #272626;
  color: #ffffffff;
  padding-top: 40px;
  padding-bottom: 100px;
}


/* SERVICES */

.info-container{
  margin-bottom: 20%;
  padding: 10%;
  width: 90%;
}

#services-header {
  background-attachment: fixed;
  background-color: #0d86be;
  background-image: url("https://res.cloudinary.com/hellodewa/image/upload/v1621628070/expeditemovers/images/sys/services-title-background_zh6ckz.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 370px;
  opacity: 95%;
}

.services-title {
  color:#023349
}

.service-title-left {
  border-left: 5px solid #005881;
  padding-left: 3%;
}

.service-title-right {
  border-left: 5px solid #005881;
  padding-left: 3%;
}

.title-adjust-1 {
  position: relative;
  right: 4%;
}

.title-adjust-2 {
  position: relative;
  left: 32%;
}

.service-img {
  border-radius: 0em;
  height: 70%;
  width: 87%;
}

.service-info-left {
  border-radius: 0.5em;
  background-color:#403f3f;
  font-size: xx-large;
  min-height: calc(35% + 90px);
  margin-top: 3%;
  padding: 5%;
  position: absolute;
  width: calc(100% + 200px);
  z-index: 10;
}

.service-info-right {
  align-self: left;
  border-radius: 0.5em;
  background-color:#403f3f;
  display: block;
  font-size: xx-large;
  min-height: calc(35% + 90px);
  margin-top: 3%;
  margin-right: 30%;
  padding: 5%;
  position: absolute;
  right: 0.5%;
  width: calc(100% + 200px);
  z-index: 10;
}

.freight-section {
  background-attachment: fixed;
  background-image: url("https://res.cloudinary.com/hellodewa/image/upload/v1620740617/expeditemovers/images/sys/freight-background-img_zebis1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.black-bg-layout {
  background-color: #272626;
  color: #ffffff;
}

.white-bg-layout {
  background-color: #e1e4ee;
  color: #005881;
}

.blue-bg-layout {
  background-color: #005881;
  color: #e1e4ee;
}

.freight-text {
  color: #ffffff;
}

/* LOCATIONS PAGE */

#location-header {
  background-image: url("https://res.cloudinary.com/hellodewa/image/upload/v1620723007/expeditemovers/images/sys/locations-title-background_larger_epajc4.jpg");
  background-color: #0d86be;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 370px;
  opacity: 95%;
}

.location-card {
  min-width: 80%;
  max-width: 81%;
  min-height: 65%;
  margin-bottom: 50px;
}

.location-map {
  border: 0;
}

.location-card-text-layout {
  min-width: 90%;
}


/* ABOUT US PAGE */

#about-us-header {
  background-image: url("https://res.cloudinary.com/hellodewa/image/upload/v1621646012/expeditemovers/images/sys/about-us_background_odjflx.jpg");
  background-color: #0d86be;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 370px;
  opacity: 95%;
}


/* CONTACT PAGE*/

#contact-layout{
  background-color: #ffffff;
}

#contact-form {
  margin: auto;
  padding: 5%;
  text-align: center;
  width: 70%;
}


/* FOOTER */

#footer {
  background: #178291;
  color: #ffffff;
  min-height: 470px;
  width: 101%;
}

#footer-bottom {
  background: #0e6f7c;
  color: #17a9bd;
  padding: 1% 0;
}

#footer-top {
  padding: 5% 0;
}

.footer-title {
  color: #30cde2;
}

.footer-text {
  color: #ffffff;
}


/* FOOTER LINKS */

.footer-link {
  color: #d7dcef;
  text-decoration: none;
}

.footer-link:hover {
  color: #ffffff;
  text-decoration: none;
}

.site-map-icon {
  color: #178291;
  text-decoration: none;
}

.contact-icon {
  color: #178291;
  text-decoration: none;
}

#facebook-icon {
  color: #178291;
}

#twitter-icon {
  color: #178291;
}

#instagram-icon {
  color: #178291;
}

#linkdin-icon {
  color: #178291;
}

.footer-link:hover > .site-map-icon {
  color: #28abcf;
  text-decoration: none;
}

.footer-link:hover > .contact-icon {
  color: #074729;
  text-decoration: none;
}

.footer-link:hover > #facebook-icon {
    color: #374d7c;
    text-decoration: none;
}

.footer-link:hover > #twitter-icon {
  color: #374d7c;
  text-decoration: none;
}

.footer-link:hover > #instagram-icon {
  color: #374d7c;
  text-decoration: none;
}

.footer-link:hover > #linkdin-icon {
  color: #374d7c;
  text-decoration: none;
}